{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Create New Blog</h3>
      <form action="/blogs" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Blog Title</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Teaser</label>
          <input
            type="text"
            name="teaser"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Blog</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="content"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
    <div class="col-8">
      <h3>Recent Blogs</h3>
      <div class="blogs">
        {% for blog in blogs %}
        <div class="card w-75">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.teaser }}</p>
            <a href="/blogs/post/{{ blog._id }}" class="btn btn-secondary"
              >Read More</a
            >
          </div>
        </div>
        <br />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
